<div class="banner_new" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= @space.photo %>);">
  <div class="banner-content">

    <%= simple_form_for([@space, @review]) do |f| %>
      <% if @review.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @review.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.input :content %>
      <%= f.submit "submit review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
