<div class="main-container">
  <div class="container">
    <h1>All spaces</h1>
    <%= link_to "Add Space", new_space_path, :class => "btn-medium" %>

  <div class="spaces-container">
    <div class="row">
      <% @spaces.each do |space| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to space_path(space) do %>

        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><img src="<%= space.photo %>"/>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <div class="category">Click for more info</div>
            <h1 class="title"><%= space.name %></h1>
            <h2 class="sub_title"></h2>
            <p class="description"><%= space.description %></p>

            <% end %>
          </div>
        </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>


</div>
