<div class="main-container">
  <div class="container">



  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @space.photo %>);">
    <div class="card-category"></div>
    <div class="card-description">
      <h1><%= @space.name %></h1>
      <p>Location: <%= @space.location %></p>
      <p>Price: <%= @space.price %></p>
      <p>Description: <%= @space.description %></p>
    </div>
    <% if policy(@space).edit? %>
      <%= link_to "edit space", edit_space_path(@space) %> <br>
    <% end %>
    <% if policy(@space).destroy? %>
      <%= link_to "delete space", space_path(@space), method: :delete %>
    <% end %>

    </div>
    <div class="button-container">
      <%= link_to "check reviews", space_reviews_path(@space), :class => "btn-medium" %>
      <%= link_to "Make a booking", new_space_booking_path(@space), :class => "btn-medium" %>
    </div>

  </div>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
