<h1><%= @space.name %></h1>
<p>Location: <%= @space.location %></p>
<p>Price: <%= @space.price %></p>
<p>Description: <%= @space.description %></p>
<% if policy(@space).edit? %>
  <%= link_to "edit space", edit_space_path(@space) %> <br>
<% end %>
<% if policy(@space).destroy? %>
  <%= link_to "delete space", space_path(@space), method: :delete %>
<% end %>
<%= link_to "check reviews", space_reviews_path(@space) %>
