

<h1><%= @space.name %></h1>
<p>Location: <%= @space.location %></p>
<p>Price: <%= @space.price %></p>
<p>Description: <%= @space.description %></p>
<p>Check in: <%= @booking.check_in %></p>
<p>Check out: <%= @booking.check_out %></p>

<a href=""><%= link_to "back to homepage", root_path %></a>
