<div class="main-container">
  <div class="container">
    <h1>My Bookings</h1>


  <div class="spaces-container">
    <div class="row">
      <% @bookings.each do |booking| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to space_booking_path(booking.space, booking) do %>

        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><img src="<%= booking.space.photo %>"/>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <div class="category">Click for more info</div>
            <h1 class="title"><%= booking.space.name %></h1>
            <h2 class="sub_title"><p>Check in date: <%= booking.check_in %></p></h2>
            <p class="description">Check out date: <%= booking.check_out %></p>

            <% end %>
          </div>
        </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

